/* AdminLayout.module.scss */
@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.adminLayout {
  display: flex;
  min-height: 100vh;
  background: #f8fafd;
}

.adminMain {
  flex: 1;
  padding: 2rem 2.5rem;
  background: #fff;
  box-shadow: -2px 0 8px 0 rgba(30, 48, 100, 0.06);
  transition: background 0.2s;

  h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: $primary;
  }
}

@include tablet {
  .adminLayout {
    flex-direction: column;
  }
  .adminMain {
    padding: 4rem 0.5rem;
  }
}
