@use "@/styles/variables" as *;

.main {
  max-width: 380px;
  margin: 0 auto;
  padding: $navbar-height 1rem;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 1.8rem;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.2rem;
}
.input {
  padding: 12px 1rem;
  border-radius: 0.6rem;
  border: 1px solid #e0e0e0;
  font-size: 1rem;
  width: 100%;
}
.button {
  background: var(--primary);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  padding: 12px 1.5rem;
  transition: background 0.18s;
  cursor: pointer;
  &:hover {
    background: var(--secondary);
  }
}
.error {
  color: #d21;
  font-size: 1rem;
  text-align: center;
}
.bottom {
  text-align: center;
  color: #888;
  font-size: 1rem;
  margin-top: 0.8rem;
}
.link {
  color: var(--secondary);
  text-decoration: underline;
  margin-left: 0.4rem;
}
.passwordWrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.pwToggle {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 10px;
  font-size: 18px;
  color: #a4a4a4;
  padding: 0 5px;
  outline: none;
  transition: color 0.2s;
  &:hover {
    color: #23539b;
  }
}
