@use "../../../styles/base/base.variables" as *;
@use "../../../styles/base/base.breakpoints" as *;

.container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding: $navbar-height 2.2rem;
  min-height: calc(100vh - $navbar-height);

  @include lt-md {
    flex-direction: column;
    gap: 1rem;
  }
}
.main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;

  @include lt-md {
    padding-top: 0;
  }

  h1 {
    color: var(--primary);
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;

    @include lt-md {
      font-size: 1.4rem;
    }
  }
}
