@use "./base.colors" as *;
@use "./base.variables" as *;

// Variables
$line-height: 1.6rem;
$line-height-desktop: 1.7;
$space-xs: 0.5rem !default;
$space-sm: 1rem !default;
$space-md: 2rem !default;
$space-lg: 4rem !default;

$max-char-email: 26ch;
$max-char-short-length: 16ch;
$max-char-medium-length: 24ch;
$max-char-long-length: 65ch;

#__next {
  height: 100%;
  width: 100%;
}
