.backdrop {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #10124999;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.modal {
  background: #fff;
  border-radius: 1.2rem;
  max-width: 800px;
  width: 96vw;
  max-height: 92vh;
  overflow: auto;
  position: relative;
  padding: 2rem 1.7rem 1.3rem 1.7rem;
  box-shadow: 0 16px 56px rgba(34, 45, 59, 0.19);
}
.closeBtn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}
