@use "../../styles/base/base.variables" as *;
@use "../../styles/base/base.breakpoints" as *;

.swiper {
  width: 100%;
  height: 100%;
}
.slide {
  min-height: 600px;
  max-height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  @include lt-sm {
    min-height: 160px;
    max-height: 220px;
  }
}
.overlay {
  background: rgba(24, 32, 47, 0.43);
  border-radius: 1.4rem;
  padding: 2.1rem 2.6rem;
  color: #fff;
  margin: 0 7vw 0 auto;
  max-width: 520px;
  z-index: 2;
  position: relative;
  @include lt-sm {
    padding: 1rem 12px;
    margin-left: 2vw;
    max-width: 90vw;
  }
}
.title {
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 12px;
  text-shadow: 0 2px 8px rgba(24, 32, 47, 0.14);
  @include lt-sm {
    font-size: 1.8rem;
  }
}
.desc {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
  @include lt-sm {
    font-size: 1.6rem;
  }
}
.cta {
  display: inline-block;
  margin-top: 0.4rem;
  padding: 0.6rem 1.7rem;
  background: var(--primary);
  color: #fff;
  border-radius: 1.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  box-shadow: 0 2px 8px rgba(24, 32, 47, 0.1);
  transition: background 0.17s;
  text-decoration: none;
  &:hover {
    background: var(--secondary);
  }
}
