// AdminSidebar.module.scss
@use "@/styles/variables" as *;

.menu {
  display: flex;
  position: fixed;
  min-width: 230px;
  height: 100%;
  min-height: 100vh;
  box-shadow: 2px 0 18px 0 rgba(39, 70, 120, 0.09);
  top: 0;
  left: 0;
  background: var(--primary-700);
  max-width: 320px;
  z-index: 3000;
  transform: translateX(-90%);
  transition: transform 0.28s cubic-bezier(0.6, 0.22, 0.38, 0.89);

  &.open {
    transform: translateX(0);
  }

  @include mobile {
    transform: translateX(-100%);
  }
}

.menuContent {
  display: flex;
  flex-direction: column;
  padding: 2.2rem 1.2rem;
  height: 100vh;
  overflow-y: auto;
  background: var(--primary-700);
  color: var(--white);
}

.hamburger {
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 1rem;
  right: -20px;
  z-index: 3500;
  background: var(--primary-700);
  border-radius: 50%;
  transition: left 0.28s cubic-bezier(0.6, 0.22, 0.38, 0.89);
  box-shadow: 0 2px 8px rgba(36, 52, 85, 0.09);
  color: var(--accent);
  cursor: pointer;
  background: white;
}

.menuItem {
  display: flex;
  align-items: center;
  background: var(--primary-700);
  color: var(--white);
  padding: 0.9rem 1.3rem;
  font-size: 1.16rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.15s, color 0.18s;
  outline: none;
  white-space: pre;

  &.logout {
    color: var(--danger);
    background: var(--gray-200);
    margin: auto auto 0;
    width: 100%;

    &:hover,
    &:focus {
      color: var(--danger);
      background: var(--primary-100);
    }
  }

  &:hover,
  &:focus {
    background: var(--primary-200);
    color: var(--primary-900);
  }
  &.active {
    background: var(--accent);
    color: var(--primary-900);
    font-weight: 600;
  }
}

.active {
  background: var(--accent);
  color: var(--primary-900);
  font-weight: 600;
}

.icon {
  display: flex;
  margin-right: 0.5rem;
}

.overlay {
  display: block;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.adminHeader {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2.3rem;
  color: var(--accent);
}
