// File: app/about-us/AboutUs.module.scss
@use "../../../styles/base/base.variables" as *;

.aboutUs {
  padding: $navbar-height 1rem;
  background-color: #fff;
  color: #333;
  font-family: sans-serif;

  .container {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.6;
    }
  }
}
