@use "../../../styles/base/base.variables" as *;

.mediaCard {
  display: block;
  background: #fff;
  border-radius: 1.1rem;
  box-shadow: 0 1px 8px rgba(34, 45, 59, 0.07);
  overflow: hidden;
  color: var(--dark);
  text-decoration: none;
  transition: box-shadow 0.13s;
  width: 100%;
  &:hover {
    box-shadow: 0 6px 18px rgba(34, 45, 59, 0.12);
  }
}
.thumbWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background: #ececec;
}
.thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}
.playIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  transition: transform 0.13s;
  border-radius: 50%;
  border: 3px solid #e11d48;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: white;
}
.mediaTitle {
  font-weight: 600;
  font-size: 1.08rem;
  min-height: 4rem;
  padding: 1rem 1.1rem 0.5rem 1.1rem;
  color: var(--primary);
}
.mediaFooter {
  padding: 0 1.1rem 1rem 1.1rem;
}
.badge {
  background: #f2f4f8;
  color: #7d8799;
  font-size: 0.93rem;
  font-weight: 600;
  border-radius: 12px;
  padding: 0.25rem 0.75rem;
  display: inline-block;
}
