// Colors
// BASE
$primary: #23539b; // Main primary color
$primary-50: #eff5fb;
$primary-100: #dde8f6;
$primary-200: #bad1ee;
$primary-300: #86afe2;
$primary-400: #477dd0;
$primary-500: #23539b; // Main
$primary-600: #1c4480;
$primary-700: #153463;
$primary-800: #112850;
$primary-900: #0c1b33;

$secondary: #43bfa3;
$accent: #ffd166;
$white: #fafafc;
$dark: #222d3b;
$success: #059669;
$success-bg: #e8faef;
$danger: #d32f2f;
$danger-50: #fff2f2;
$danger-200: #fca5a5;
$danger-600: #dc2626;
$success-50: #f2fdf6;
$success-200: #6ee7b7;
$success-700: #047857;
$gray-50: #fafbfc;
$gray-100: #f4f4f7;
$gray-200: #ececec;
$gray-400: #b5b8bb;
$gray-700: #46494c;
$gray-800: #282c31;

$text: #23272f; // Primary dark text color
$muted: #8d96a5;

// Typography
$font-size-base: 1rem;
$font-family-base: "Inter", Arial, sans-serif;

// Spacing
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;

// Z-Index
$z-dropdown: 1000;
$z-modal: 1200;

// navbar
$navbar-height: 64px;
